doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdn.socket.io/socket.io-1.1.0.js')
    script(src='/javascripts/jquery-2.1.1.min.js')
    script(src='/javascripts/main.js')
  body
    h1 #{title}
    ul(class='pages')
       li(class='chat page')
        div(class='chatArea')
            ul(class='messages')
        input(type='text', class='inputMessage',placeholder='Type here...')
       li(class="login page")
        div.form
            h3.title What's your nickname?
            input(type='text', class='usernameInput', maxlength="14")
